<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pokemon DB</title>
    <h1>Pokemon DB</h1>
</head>
<body>
    {{!-- navbar --}}
    [ <a href="pokemon">Pokemon</a> | <a href="attacks">Attacks</a> | <a href="types">Types</a> | <a href="generations">Generations</a> | <a href="pokemon_attacks">Pokemon Attacks</a> ]
    {{{body}}}
</body>
</html>