<html>
  <head>
    <title>Generations</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
        function showform(dowhat) {
          /*
          * four DIVS: browse, insert, update, delete
          * this function sets one visible the others not
          */
          if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
          }
          else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
          }
          else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
          }
        }
        function newGeneration() { showform('insert'); }
        function deleteGeneration(gid, region) {
          document.getElementById('delete-genID').value = gid;
          document.getElementById('delete-genID-display').innerHTML = gid;
          document.getElementById('delete-region-display').innerHTML = region;
          showform ('delete');
        }
        function browseGenerations() { showform ('browse'); }
    </script>
  </head>

  <body onload="browseGenerations()"></body>


  <!-- body -->
  <div id="browse">
  <br>
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th><button onClick="newGeneration()">+ New</button></th>
        <th>id</th>
        <th>Region</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><button onclick="deleteGeneration({{this.genID}}, '{{this.region}}')">Delete</button></td>
        <td align="right" >1</td>
        <td>{{this.region}}</td>
        <td>{{this.releaseDate}}</td>
      </tr>
      {{/each}}
    </tbody>
    
    
    
  </table>
  <p>&nbsp;</p>
  </div><!-- browse -->

  <div id="insert">
      <form method="POST" id="addGeneration" action="generations-add">
          <legend><strong>Add Generation</strong></legend>
            <fieldset class="fields">
              <label> Region: </label> <input type="text" name="input-region">
              <label> Release Date: </label> <input type="date" name="input-releaseDate">
            </fieldset>
            <input class="btn" type="submit" id="addGeneration" value="Add Generation">
            <input class="btn" type="button" value="Cancel" onClick="browseGenerations()">
    </form> 
  </div><!-- insert -->

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteGeneration" action="generations-delete">
        <legend><strong>Delete Generation</strong></legend>
            <fieldset class="fields">
              <p>Are you sure you wish to delete the following?</p>
              <input type="hidden" name="input-genID" id="delete-genID" value="1">
              <label><strong>ID:</strong></label> <label id="delete-genID-display"></label> <br>
              <label> <strong>Region:</strong> </label> <label id="delete-region-display"></label>
            </fieldset>
          <input class="btn" type="submit" id="DeletePokemon" value="Delete Generation">
          <input class="btn" type="button" value="Cancel" onClick="browseGenerations()">
    </form> 
  </div><!-- delete -->

  </body>
</html>